%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [
    debug_info,
    warn_unused_vars,
    warn_unused_import,
    warn_exported_vars
]}.

{deps, [
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.9.0"}}},
    {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", {tag, "v4.4.1"}}},
    {edatetime, {git, "https://github.com/GameAnalytics/edatetime.git", {tag, "1.0.1"}}},
    {econfig, {git, "https://github.com/benoitc/econfig.git", {tag, "0.7.3"}}},
    {base16,  "1.0.0"}
]}.

{require_otp_vsn, "17|18|19|20|21|22"}.

%% == Dialyzer ==
{dialyzer, [
    {warnings, [error_handling, race_conditions, unmatched_returns, underspecs]},
    {get_warnings, false},
    {plt_apps, top_level_deps}, % top_level_deps | all_deps
    {plt_extra_apps, []},
    {plt_location, local}, % local | "/my/file/name"
    {plt_prefix, "ddb"},
    {base_plt_apps, [stdlib, kernel, erts]},
    {base_plt_location, global}, % global | "/my/file/name"
    {base_plt_prefix, "rebar3"}
]}.

{cover_enabled, true}.

{plugins, []}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "."}]}}
]}.

{validate_app_modules, false}.
