%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps, [
        {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.8.2"}}},
        {ibrowse, {git, "https://github.com/cmullaparthi/ibrowse.git", {ref, "v4.4.0"}}}
       ]}.

{require_otp_vsn, "R16|17|18|19"}.

{erl_opts, [
            fail_on_warning,
            debug_info
           ]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{validate_app_modules, false}.
